html{
    background-color: black;
}
header{
    
}
body{
    
}
h1{
    color: white;
    font-size: 100px;
}
h2{
    color: white;
}
h4{
    color: white;
}
p{
    color:white;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
h1{
    border: 2 solid blue;
}