html{
    background-color: black;
}
head{
    background-image:;
}
a:link{
    color: white;
    background: transparent;
    text-decoration: none;
}

a:hover{
    color: red;
}

a:active{
    color:green;
    background: transparent;
    text-decoration: underline;
}
h1{
    color: white;
    font-size: 100px;
}
h2{
    color: white;
}
h4{
    color: white;
}
p{
        color:white;
}
pre{
    color: white;
}
a{
    font-size: xx-large;
    color:white;
    
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
h1{
    border: 2 solid blue;
}
div {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
}